    // let Frame1 = new Frame();
    // Frame1.title = 'СТАНИНА серии Lynx 300';
    // Frame1.imgpath = '../../assets/001-1060x800.png';
    // Frame1.annotation = '';
    // this.presentation.add(Frame1);

    // let Frame2 = new Frame();
    // Frame2.title = 'Технические характеристики';
    // Frame2.imgpath = '../../assets/002-1060x800.png';
    // Frame2.annotation = '';
    // this.presentation.add(Frame2);

    // let Frame3 = new Frame();
    // Frame3.title = 'Технические характеристики';
    // Frame3.imgpath = '../../assets/003-1060x800.png';
    // Frame3.annotation = '';
    // this.presentation.add(Frame3);

    // let Frame4 = new Frame();
    // Frame4.title = 'Деталь "колесо"';
    // Frame4.imgpath = '../../assets/004-1060x800.png';
    // Frame4.annotation = '';
    // this.presentation.add(Frame4);


    // let Frame5 = new Frame();
    // Frame5.title = 'Симуляция обработки детали';
    // Frame5.imgpath = '../../assets/lynx300m.mp4';
    // Frame5.annotation = '';
    // Frame5.isImage = false;
    // this.presentation.add(Frame5);

    // let Frame6 = new Frame();
    // Frame6.title = 'Группа компаний "ВариУс" - решение полного цикла инжиниринговых задач';
    // Frame6.imgpath = '../../assets/005-1060x800.png';
    // Frame6.annotation = '';
    // this.presentation.add(Frame6);

    // this.presentation.getNext(0);